.video-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.webcam-feed {
  flex: 0 0 60%;
}
.webcam-feed .webcam-container video {
  max-width: 24rem;
  max-height: 12rem;  
}

.controls {
  display: flex;
  flex-direction: row;
  padding-left: 35px;
}

.controls .mute-button {
  display: flex;
  justify-self: flex-end;
}
