.webcam-container {
  border-radius: 20px;
}
.webcam-container video {
    /* Ensure the video element also has rounded corners */
    border-radius: inherit;
    max-width: 24rem;
    max-height: 12rem;
    position:relative;
    /* Remove any default borders or margins */
    border: none;
    margin-right: 2rem;
}